* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: medium;
  background-color: yellowgreen;
}

.body {
  padding: 0;
}

.container > button {
  cursor: pointer;
  background-color: yellow;
  padding: 0;
  min-height: 100px;
  border: 1px solid white;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  min-height: 500px;
  padding: 0;
}

.span-two {
  grid-column: span 2;
}

.screen {
  grid-column: span 4;
}
